h1 {
  display: flex;
  justify-content: center;
  font-family: Arial sans-serif;
  border-style: double;
  font-size: 50px;
  border-color: rgba(105,105,105,0.7);
  border-radius: 5px;
}

img {
  height: 100px;
  width: 100px;
}
article#item,article#submit_cart {
  margin-top: 10px;
  margin-bottom: 10px;
}
#precio_total_cart {
  display: flex;
  justify-content:flex-end;
  font-family: sans-serif;
}
#aceptar_compra {
  position: relative;
}
#submit_cart {
  position: absolute;
  right: 10px;
}
#agradecimiento {
  font-weight: 400;
  font-family: inherit;
  font-size: 32px;
  position: relative;
  top: 100px;
}
